body{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #666;
    line-height: 1.625;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}
.ui-datepicker{ z-index: 9999 !important;}
.blur-image{
    filter: blur(8px);
    -webkit-filter: blur(8px);
}
.comp-info{ overflow: hidden;}
.company-logo {
    width: 200px;
    float: left;
    height: auto;
    border:1px solid #d7d7d7
}
.company-logo .c-logo {
    width: 100%;
    height: auto;
    position: relative;
    top: 0px;
}
.company-logo .file-upload{
    opacity: 0;
    display: block;
    position: absolute;

}
.edit-logo-upload{
    position: relative;
    margin: 0 !important;
}
.table-middle td{
    vertical-align: middle !important;
}
.action-button-sm{ 
    width: 40px;
    height: 40px;
    font-size: 14px;
    border: 1px solid #d8d8d8 !important;
}
.company-logo-edit .fa-edit-upload{
    display: block;
    position: absolute;
    right: 15px;
    bottom: 15px;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 5px;
    background: rgb(0 0 0 / 58%);
    color: #fff;
    opacity: 0;
}
.company-logo-edit:hover .fa-edit-upload{
    opacity: 1;
}
.right-infomation{
    margin-left: 215px;
    overflow: hidden;
}
.table{
    color: inherit !important;
}
.hidden{ display: none;}
.post-user-image {
    width: 30px;
    height: 30px;
    background: white;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
}
.background-scrubbed .nav-link {
    display: block;
    padding: .5rem 1rem;
    padding: 11px;

}
.background-scrubbed .nav-link-profile{
    padding: 8px;
}
.background-scrubbed .dropdown-item{
    color:#fff ;
}
.background-scrubbed .dropdown-item:hover{ color : #000;}
.background-scrubbed .dropdown-menu {
    background-color: #105fa2 !important;

}

.modal-footer .accordion{ width: 100%;}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 0px 0;
    border-radius: 4px;
}
.pagination>li {
    display: inline;
}
.pagination>li>a, .pagination>li>span {
    color: #656268;
    background: -webkit-gradient(linear, 0 50%, 0 100%, from(#f8f8f8), to(#dbe1e8));
    background: -webkit-linear-gradient(top, #f8f8f8, #dbe1e8);
    background: -moz-linear-gradient(top, #f8f8f8, #dbe1e8);
    background: -o-linear-gradient(top, #f8f8f8, #dbe1e8);
    background: -ms-linear-gradient(top, #f8f8f8, #dbe1e8);
    background: linear-gradient(to bottom, #f8f8f8, #dbe1e8);
}
.pagination-sm>li>a, .pagination-sm>li>span {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.pagination-sm>li:first-child>a, .pagination-sm>li:first-child>span {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.pagination-sm>li:last-child>a, .pagination-sm>li:last-child>span {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.pagination-cont{
    padding-top: 15px;
    padding-bottom: 15px;
}
form label{ font-weight: bold; }
#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}
#navbarSupportedContent li > a{ color:#fff;}
.list-group-flush .list-group-item{
    color:#105fa2;
}
.background-scrubbed{
    background: #105fa2 !important;
    color:#fff;
}
.background-scrubbed .nav-link{
    color:#fff;
}
.btn-rounded{
    border-radius: 30px
}
.btn-light {
    border: 1px solid transparent;
}
.btn-scrubbed{
    border-color: #0f528a;
    color: #fff;
    border-radius: 30px;
    outline: 0;
    box-shadow: 0 0 0 0.2rem transparent !important;
    border: 1px solid transparent;
}
.btn-default {
    color: #000;
    background-color: #fff;
    border-color: #d7d7d7;
}
.logo{
    height: 24px;
}

.main-container{
    margin-top: 90px;
}
.divTableBody .divTableRow:nth-child(even) {
    background-color: #f3f3f3;
}
.divTbHead{
    background-color: #efefef;
}
.divTable{
    border: 1px solid #d7d7d7;
    display: table;
    width: 100%;
    background-color: #fff;
}
.divTableRow {
    display: table-row;
    border-bottom: 1px solid #d7d7d7;
}

.divTableHeading {
    background-color: #d7d7d7 !important;
    display: table-header-group;
}
.divTbHead .divTableCell{
    font-weight: bold;
}
.divTableCell, .divTableHead {
    border-right: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
    display: table-cell;
    padding: 3px 10px;
}
.divTableBody .divTableCell:last-child{
    border-right: none;
    border-bottom: none;
}
.divTableBody .divTableRow:last-child .divTableCell{
    border-bottom: none;
}
.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
    font-weight: bold;
}
.divTableFoot {
    background-color: #EEE;
    display: table-footer-group;
    font-weight: bold;
}
.divTableBody {
    display: table-row-group;
}
.table-hover tbody tr:hover {
    color: #212529;
    background-color: #e8e8e8;
}
.filter-button{ margin-left: 15px;}
.select_year{ border-radius: 1px 5px 5px 1px !important;} 

.opacity-loader{ opacity: 0.5;}
.table-width500{min-width: 500px; }
.table-width600{min-width: 600px; }
.table-width700{min-width: 700px; }
.table-width800{min-width: 800px; }
.table-width900{min-width: 900px; }
.table-width1000{min-width: 1000px; }
.table-width1200{min-width: 1200px; }
.width_30{width:30px !important;}
.width_50{width:50px !important;}
.width_100{width:100px !important;}
.width_150{width:150px !important;}
.width_200{width:200px !important}
.width_350{width:350px;}
.min_width_150{min-width:150px;}
.action-button{ width: 150px;}
.action-button button{
    font-size: 10px;
}
.open-modal-information .modal-full {
    min-width: 90%;
}
.hide{display:none;}
.open-modal-information .upload-files-drop{
    position: relative;
    border:1px dashed #d7d7d7;
    background-color: #fbfbfb;
    min-height: 300px;
    background-image:url(../images/drop.png);
    background-repeat: no-repeat;
    background-position: center;
}
.open-modal-information .drop-files{
    border: 1px dashed #0297f1;
    background-color: #eff8ff;
}
.open-modal-information .drop-files:active{
    border: 1px dashed #0297f1;
    background-color: #eff8ff;
}
.open-modal-information .file-uploader{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    opacity: 0;
} 
.open-modal-information .loader-modal{
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    background: url('../images/Dual-Ring.svg') no-repeat center;
}
.open-modal-information .loader-modal *{
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    opacity: 0.5;
}
.open-modal-information .uploaded-list .list-group-item{
    position: relative;
}
.open-modal-information .uploaded-list .date-uploaded{
    position: absolute;
    display: block;
    font-size: 9px;
    top: 16px;
    right: 46px;
}
.open-modal-information .uploaded-list .delete-file-btn{
    position: absolute;
    display: block;
    font-size: 11px;
    top: 8px;
    right: 4px;
}
.navbar{
    padding: 5px;
}
.nav-item {
    line-height: 29px;
}
.mylogo{
    border: 1px solid #105fa2;
    color: #105fa2;
    outline-color: transparent !important;
    box-shadow: 0px 0px 0px transparent !important;
    padding: 0px;
    margin: 0px;
    margin-left: 19px;
    margin-top: -5px;
}
.mylogo img{
    height: 24px;
    width: auto;
}
.navbar{
    padding: 5px;
    min-height: 60px;
}
.hide{
    display: none !important;
}

.table td, .table th {
    padding: 5px !important;
}


.btn-load{ display: none;}
.loader-btn .btn-load{ display: inline-block !important;}


@media (min-width: 992px){
    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 10px 15px;
    }
}


table.dataTable td, table.dataTable th {
    vertical-align: middle; 
}
/*.open-modal-information .tab-pane{ display: none }
.open-modal-information .show{ display: block }*/

.ui-widget.ui-widget-content {
    z-index: 1051 !important;
}

.text-gray-800 {
    color: #5a5c69!important;
}

.btn-circle {
    border-radius: 100%;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn {
    border-radius: 60px;
}

.dt-dropdown {
    position: relative;
    display: inline-block;
}

.dt-dropcontent {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 21rem;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 2;
    right: 0;
    padding: 1rem;
}

#sidebar-wrapper .list-group .list-group-item{
    font-size: .85rem !important;
}

#sidebar-wrapper .list-group .list-group-item i {
    font-size: .85rem;
    margin-right: .25rem;
}

.btn-circle {
    border-radius: 100%;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.sidebar {
    width: 14rem !important;
}
.sidebar .nav-item .collapse {
    position: relative;
    left: 0;
    z-index: 1;
    top: 0;
    -webkit-animation: none;
    animation: none;
}
.sidebar .nav-item .collapse .collapse-inner {
    border-radius: 0;
    box-shadow: none;
}
.sidebar .nav-item .collapsing {
    display: block;
    transition: height 0.15s ease;
}
.sidebar .nav-item .collapse,
.sidebar .nav-item .collapsing {
    margin: 0 1rem;
}
.sidebar .nav-item .nav-link {
    display: block;
    width: 100%;
    text-align: left;
    padding: 1rem;
}
.sidebar .nav-item .nav-link i {
    font-size: 0.85rem;
    margin-right: 0.25rem;
}
.sidebar .nav-item .nav-link span {
    font-size: 0.85rem;
    display: inline;
}
.sidebar .nav-item .nav-link[data-toggle="collapse"]::after {
    width: 1rem;
    text-align: center;
    float: right;
    vertical-align: 0;
    border: 0;
    font-weight: 900;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
}
.sidebar .nav-item .nav-link[data-toggle="collapse"].collapsed::after {
    content: "\f105";
}
.sidebar .sidebar-brand .sidebar-brand-icon i {
    font-size: 2rem;
}
.sidebar .sidebar-brand .sidebar-brand-text {
    display: inline;
}
.sidebar .sidebar-heading {
    text-align: left;
}
.sidebar.toggled {
    overflow: visible;
    width: 6.5rem !important;
}
.sidebar.toggled .nav-item .collapse {
    position: absolute;
    left: calc(6.5rem + 1.5rem / 2);
    z-index: 1;
    top: 2px;
    -webkit-animation-name: growIn;
    animation-name: growIn;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-timing-function: transform cubic-bezier(0.18, 1.25, 0.4, 1), opacity cubic-bezier(0, 1, 0.4, 1);
    animation-timing-function: transform cubic-bezier(0.18, 1.25, 0.4, 1), opacity cubic-bezier(0, 1, 0.4, 1);
}
.sidebar.toggled .nav-item .collapse .collapse-inner {
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
    border-radius: 0.35rem;
}
.sidebar.toggled .nav-item .collapsing {
    display: none;
    transition: none;
}
.sidebar.toggled .nav-item .collapse,
.sidebar.toggled .nav-item .collapsing {
    margin: 0;
}
.sidebar.toggled .nav-item:last-child {
    margin-bottom: 1rem;
}
.sidebar.toggled .nav-item .nav-link {
    text-align: center;
    padding: 0.75rem 1rem;
    width: 6.5rem;
}
.sidebar.toggled .nav-item .nav-link span {
    font-size: 0.65rem;
    display: block;
}
.sidebar.toggled .nav-item .nav-link i {
    margin-right: 0;
}
.sidebar.toggled .nav-item .nav-link[data-toggle="collapse"]::after {
    display: none;
}
.sidebar.toggled .sidebar-brand .sidebar-brand-icon i {
    font-size: 2rem;
}
.sidebar.toggled .sidebar-brand .sidebar-brand-text {
    display: none;
}
.sidebar.toggled .sidebar-heading {
    text-align: center;
}

.sidebar-light .sidebar-brand {
    color: #6e707e;
}
.sidebar-light hr.sidebar-divider {
    border-top: 1px solid #eaecf4;
    width: 100%;
}
.sidebar-light .sidebar-heading {
    color: #b7b9cc;
}
.sidebar-light .nav-item .nav-link {
    color: #858796;
}
.sidebar-light .nav-item .nav-link i {
    color: #d1d3e2;
}
.sidebar-light .nav-item .nav-link:active,
.sidebar-light .nav-item .nav-link:focus,
.sidebar-light .nav-item .nav-link:hover {
    color: #6e707e;
}
.sidebar-light .nav-item .nav-link:active i,
.sidebar-light .nav-item .nav-link:focus i,
.sidebar-light .nav-item .nav-link:hover i {
    color: #6e707e;
}
.sidebar-light .nav-item .nav-link[data-toggle="collapse"]::after {
    color: #b7b9cc;
}
.sidebar-light .nav-item.active .nav-link {
    color: #6e707e;
}
.sidebar-light .nav-item.active .nav-link i {
    color: #6e707e;
}
.sidebar-light #sidebarToggle {
    background-color: #eaecf4;
}
.sidebar-light #sidebarToggle::after {
    color: #b7b9cc;
}
.sidebar-light #sidebarToggle:hover {
    background-color: #dddfeb;
}
.sidebar-dark .sidebar-brand {
    color: #fff;
}
.sidebar-dark hr.sidebar-divider {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
}
.sidebar-dark .sidebar-heading {
    color: rgba(255, 255, 255, 0.4);
}
.sidebar-dark .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.8);
}
.sidebar-dark .nav-item .nav-link i {
    color: rgba(255, 255, 255, 0.3);
}
.sidebar-dark .nav-item .nav-link:active,
.sidebar-dark .nav-item .nav-link:focus,
.sidebar-dark .nav-item .nav-link:hover {
    color: #fff;
}
.sidebar-dark .nav-item .nav-link:active i,
.sidebar-dark .nav-item .nav-link:focus i,
.sidebar-dark .nav-item .nav-link:hover i {
    color: #fff;
}
.sidebar-dark .nav-item .nav-link[data-toggle="collapse"]::after {
    color: rgba(255, 255, 255, 0.5);
}
.sidebar-dark .nav-item.active .nav-link {
    color: #fff;
}
.sidebar-dark .nav-item.active .nav-link i {
    color: #fff;
}
.sidebar-dark #sidebarToggle {
    background-color: rgba(255, 255, 255, 0.2);
}
.sidebar-dark #sidebarToggle::after {
    color: rgba(255, 255, 255, 0.5);
}
.sidebar-dark #sidebarToggle:hover {
    background-color: rgba(255, 255, 255, 0.25);
}
.sidebar-dark.toggled #sidebarToggle::after {
    color: rgba(255, 255, 255, 0.5);
}

.post-user-image-sidebar {
    width: 100px;
    height: 100px;
    background: white;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 50% !important;
    border: 1px solid #EEEEEE !important;
}

.job-title-sidbar{
    font-size: 22px!important;
    color: #105fa2!important;
}

.main-nav-new {
    position: fixed;
    background-color: #105fa2;
}

.table-responsive {
    height: 100%;
}
.editor-body .cke_textarea_inline{
    padding: 15px;
}
.editor-body .cke_textarea_inline:focus{
    outline: none;
}
.cna-btn{
    position: relative;
}
.cna-btn .date-created{
    position: absolute;
    display: block;
    right: 0px;
    top: 6px;
    font-size: 12px;
    color:#585858;
}
.note-convo{
    padding: 15px;
    overflow: hidden;
    position: relative;
}
.note-convo .note-section{
    border: 1px solid #d7d7d7;
}
.note-convo .note-section{
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 5px;
}
.con-note {
    margin-top: 15px;
}
.conver-submit{margin-top: 15px;}
.con-note .conversation-css{
    width: 30px;
    height: 30px;
    display: none;
}
.list-group-note .conversation-css{
    width: 30px;
    height: 30px;
    opacity: 0.3;
}
.list-group-note .list-group-item:hover .conversation-css{
    opacity: 1;
}
.list-group-note .mb-1 .cke_textarea_inline{
    outline: none !important;
    min-height: 150px;
    border:1px solid #d7d7d7;
    padding: 15px;
    border-radius: 5px;
}
.list-group-note .mb-1 .cke_textarea_inline p{
    margin-bottom: 2px;
}

.note-convo .note-section .cke_textarea_inline{ 
    outline: none !important;
    min-height: 150px;
}
.note-convo .note-section .cke_textarea_inline p{
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 2px;
} 
.note-convo .submit-note{
    /*    position: absolute;
        right: 15px;
        top: 68px;*/
    text-align: right;
    margin-top: 15px;
}
.submit-cna{
    margin-bottom: 15px;
    margin-right: 15px;
}
.list-group-note .list-group{
    margin-left: -1px;
    margin-right: -1px;
    margin-bottom: -1px;
}
.service-files-uploaded .list-group-item,
.client-files-uploaded .list-group-item{
    position: relative;
}
.service-files-uploaded .delete-file-btn,
.client-files-uploaded .delete-file-btn{
    position: absolute;
    top: 6px;
    right: 5px;
    width: 35px;
    height: 35px;
    font-size: 10px;
}
.service-files-uploaded .date-uploaded,
.client-files-uploaded .date-uploaded{
    position: absolute;
    top: 16px;
    right: 50px;
    height: 35px;
    font-size: 10px;
}

.service-files-uploaded .fa-file-pdf,
.client-files-uploaded .fa-file-pdf{
    color: #fc0101;
}
.upload-files-drop {
    position: relative;
    border:1px dashed #3993d0;
    height: 200px;
}

.upload-files-drop .file-uploader {
    position: absolute;
    display: block;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    opacity: 0; 
    z-index: 2;
    cursor: pointer;
}
.upload-files-drop:after{
    content: "Drop files here or";
    position: absolute;
    display: block;
    top: 63px;
    left: 0px;
    width: 100%;
    text-align: center;
    color: #3993d0;
    font-size: 22px;
    z-index: 0;
    cursor: pointer;
}
.upload-files-drop:before{
    content: "Open the file browser";
    position: relative;
    display: block;
    top: 101px;
    left: 0px;
    width: 182px;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    z-index: 0;
    border: 1px solid #3993d0;
    padding: 5px;
    background-color: #3993d0;
    cursor: pointer;
}

.list-group-flush.company-info .list-group-item {
    color: #666;
    padding-left: 0;
}

.list-group-flush.company-info .list-group-item {
    border: none;
}
.full-modal{
    position: fixed !important;
    width: 100% !important;
    top: 0px !important;
    left: 0;
    height: 100%;
    background: #f7f9fc;
    max-width: 100%;
    margin: 0 !important;
    overflow: auto;
    padding: 0px !important;
}
.full-modal .modal-header{
    background-color: #105fa2;
    color: #FFF;
    border-radius: 0px !important;
}
.full-modal .modal-dialog {

    width: 100% !important;
    max-width: 100% !important;
    margin: 0px !important;
}

.full-modal .modal-content {
    border: none !important;
    background: transparent !important;
}

.full-modal .close {
    color: #fff !important;
}

.full-modal .close:hover {
    color: #fff !important;
}

.container-1400 {
    width: 100%;
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
}

.company-header {
    margin-top: 3rem;
    padding: 3rem;
}

.company-content {
    margin-top: 1rem;
    padding: 3rem;
}

.shadow-2-strong {
    -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,.25),0 5px 15px 2px rgba(0,0,0,.2)!important;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.25),0 5px 15px 2px rgba(0,0,0,.2)!important;
}

.img-profile {
    object-fit: cover;
    width: 100px;
    height: 100px;
    background: white;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 50% !important;
    border: 1px solid #EEEEEE !important;
}

.form-control-plaintext {
    outline-color: transparent !important;
}

.btn-default {
    background-color: #e5e5e5 !important;
    color: #75787b !important;
}

.btn-primary {
    background-color: #105fa2 !important;
    border: 1px solid #105fa2;
    color: white!important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #105fa2 !important;
    color: white!important;
}

.btn-link,
a {
    color: #105fa2;
}

.text-primary {
    color: #105fa2 !important;   
}

.list-group-note .title{
    text-decoration: underline;
    color: #105fa2;
    cursor: pointer;
}

.modal-max {
    max-width: 100%;
    margin: 0;
}

.modal-max .modal-content {
    min-height: 100vh;
    height: auto;
    border: none !important;
}

.modal-max .modal-header {
    background-color: #105fa2;
    color: #FFF;
    border-radius: 0px !important;
}

.nav-tabs2 .nav-link {
    border: solid transparent;
    border-width: 0 0 2px;
    border-radius: 0;
    /* text-transform: uppercase; */
    line-height: 1;
    font-weight: 500;
    /* font-size: 12px; */
    color: rgba(0,0,0,.6);
    padding: 17px 29px 16px;
}

.nav-tabs2 .nav-link:hover {
    background-color: #f5f5f5;
    border-color: transparent;
}

.nav-tabs2 .nav-item.show .nav-link, .nav-tabs2 .nav-link.active {
    color: #105fa2;
    border-color: #105fa2;
    background-color: #f5f5f5;
}

.ckeditor-experience .cke_editable {
    cursor: text;
    border: 1px solid #ced4da;
    padding: 10px;
    border-radius: 5px;
    min-height: 100px;
}
.ckeditor-experience .cke_editable:focus {
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}
.ckeditor-experience .cke_editable p {
    margin-top: 0;
    margin-bottom: 5px !important;
}
.ckeditor-experience .form-control{
    display: none !important;
}

.panel-custom {
    position: relative;
    display: inline-block;
    width: 100%;
    border-radius: 4px;
    background-color: #FFF;
    margin-bottom: 30px;
    -webkit-box-shadow: 0 3px 5px -1px rgb(0 0 0 / 4%);
    -moz-box-shadow: 0 3px 5px -1px rgba(0,0,0,.04);
    box-shadow: 0px 5px 5px -1px rgb(0 0 0 / 12%);
    border: 1px solid #f0f3f8;
}

.panel-custom h4 {
    font-weight: 600;
    font-size: 13px;
    letter-spacing: .5px;
    line-height: 1.2;
}

.panel-custom h2 {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 0;
}


.panel-icon {
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 3px;
    line-height: 94px;
    text-align: center;
    float: left;
    margin-right: 15px;
    line-height: 90px;
    font-size: 22px;
    color: #fff;
}